.html {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.custom-bg {
    background-color: #283439;
    color: white;
}

.n {
    font-size: 50px;
    white-space: nowrap;
}

.vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: right;
    text-transform: uppercase;
}

.image {
    border: 10px solid white;
}

.fas, .fa-circle {
    color: #02c5dc;
    font-size: small;
}

.far {
    color: #728086;
    font-size: small;
}

.year {
    color: #02c5dc;
}

.fa-user-tie, .fa-graduation-cap, .fa-chart-pie, .fa-user, .fa-briefcase, .fa-users {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #02c5dc;
    color: #283439;
    text-align: center;
    font-size: 20px;
    padding-top: 7px;
}

.fa-phone-volume, .fa-globe, .fa-location-dot {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #02c5dc;
    color: #283439;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}

/*.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .icon {
    position: relative;
    margin: 20px 0; /* Відступи між іконками 
  }
  
  .icon::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(0); /* Центрує лінію по горизонталі 
    width: 2px;
    height: 30px; /* Висота лінії 
    background-color: black;
    top: -50px; /* Відступ від іконки 
  }*/