.body {
    font-family: 'Raleway Roman';
}

.custom-bg {
    background-color: #283439;
    color: white;
}

.vertical {
   writing-mode:vertical-lr;
}

.image {
    width: 320px;
    height: auto;
    border: 10px solid white;
    margin-left: 236px;
}

.fas {
    color: #02c5dc;
    font-size: small;
}

.far {
    color: #728086;
    font-size: small;
}

.year {
    color: #02c5dc;
}
