.body {
    font-family: 'Raleway Roman';
}

.custom-bg {
    background-color: #283439;
    color: white;
}

.vertical {
   writing-mode:vertical-lr;
}

.image {
    width: 420px;
    height: auto;
    border: 10px solid white;
    float: right;
    margin-left: 135px;
}

.year, .fas {
    color: #02c5dc;
}

.far {
    color: #728086;
}

.fa-user-tie {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #02c5dc;
}